.control {
  margin: 10px;
  text-align: center;

  button {
    padding: 5px 10px;
    margin: 0 5px;
  }
}

.lineup {
  display: flex;
  justify-content: center;
  gap: 10px;
  background: pink;
  min-height: 10px;
}

.match {
  display: flex;
  justify-content: center;
  gap: 10px;
  background: lightgreen;
  min-height: 10px;
}

.player {
  flex-basis: 20%;
  border: 1px solid grey;
  border-radius: 10px;
  padding: 10px;
}
